<a href="https://colab.research.google.com/github/Astranzen/data-and-python/blob/main/Copy_of_PythonExercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a Python program to sum all the items in a list.

In [ ]:
def sum_list(items):
    return sum(items)

my_list = [1, 2, 3, 4, 5]

total_sum = sum_list(my_list)
print("The sum of all items in the list is:", total_sum)

The sum of all items in the list is: 15

1B. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [1]:
def count_strings_with_same_ends(strings):
    count = 0
    for string in strings:
        if len(string) >= 2 and string[0] == string[-1]:
            count += 1
    return count

string_list = ["level", "python", "radar", "hello", "noon"]

result_count = count_strings_with_same_ends(string_list)
print("Number of strings with the same first and last character:", result_count)

Number of strings with the same first and last character: 3

1C. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [2]:
def sort_tuples_by_last_element(tuple_list):
    sorted_list = sorted(tuple_list, key=lambda x: x[-1])
    return sorted_list

tuple_list = [(1, 3, 5), (4, 2, 8), (7, 1, 3), (2, 6, 4)]

sorted_tuples = sort_tuples_by_last_element(tuple_list)
print("List sorted in increasing order by the last element:", sorted_tuples)

List sorted in increasing order by the last element: [(7, 1, 3), (2, 6, 4), (1, 3, 5), (4, 2, 8)]

2A. Write a Python program to remove duplicates from a list.

In [3]:
def remove_duplicates(input_list):
    unique_list = list(set(input_list))
    return unique_list

original_list = [1, 2, 3, 4, 2, 3, 5, 6, 1]

result_list = remove_duplicates(original_list)
print("List after removing duplicates:", result_list)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

2B. Write a Python function that takes two lists and returns True if they have at least one common member.

In [4]:
def has_common_member(list1, list2):
    for element in list1:
        if element in list2:
            return True
    return False

list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 7, 8, 9]

result = has_common_member(list_a, list_b)

if result:
    print("The lists have at least one common member.")
else:
    print("The lists do not have any common members.")

The lists have at least one common member.

2C. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [5]:
def remove_even_numbers(input_list):
    odd_numbers = [number for number in input_list if number % 2 != 0]
    return odd_numbers

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result_list = remove_even_numbers(original_list)
print("List after removing even numbers:", result_list)

List after removing even numbers: [1, 3, 5, 7, 9]

3A. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [6]:
squares_list = [i**2 for i in range(1, 31)]

print("First 5 elements:", squares_list[:5])

print("Last 5 elements:", squares_list[-5:])

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [676, 729, 784, 841, 900]

3B. Write a Python program to get the difference between the two lists.

In [7]:
def list_difference(list1, list2):
    difference_list = list(set(list1) - set(list2))
    return difference_list

list_a = [1, 2, 3, 4, 5]
list_b = [3, 4, 5, 6, 7]

result_difference = list_difference(list_a, list_b)
print("Difference between the lists:", result_difference)

Difference between the lists: [1, 2]

3C. Write a Python program to convert a list of characters into a string.

In [8]:
char_list = ['a', 'b', 'c', 'd', 'e']

result_string = ''.join(char_list)

print("Resulting string:", result_string)

Resulting string: abcde

4A. Write a Python program to select an item randomly from a list.

In [9]:
import random

my_list = ['apple', 'banana', 'orange', 'grape', 'kiwi']

random_item = random.choice(my_list)

print("Randomly selected item:", random_item)

Randomly selected item: apple

4B.Write a Python program to find the second largest number in a list.

In [11]:
def second_largest_number(numbers):
    if len(numbers) < 2:
        return "List should have at least two numbers."

    largest = second_largest = float('-inf')

    for number in numbers:
        if number > largest:
            second_largest = largest
            largest = number
        elif number > second_largest and number != largest:
            second_largest = number

    if second_largest == float('-inf'):
        return "There is no second largest number in the list."
    else:
        return second_largest

number_list = [12, 45, 7, 98, 54, 23, 67]

result = second_largest_number(number_list)
print("Second largest number:", result)

Second largest number: 67

5A. Write a Python program to count the number of elements in a list within a specified range.

In [12]:
def count_elements_in_range(lst, lower, upper):
    count = 0
    for element in lst:
        if lower <= element <= upper:
            count += 1
    return count

my_list = [10, 25, 30, 15, 40, 5, 20]

lower_limit = 15
upper_limit = 30

result_count = count_elements_in_range(my_list, lower_limit, upper_limit)
print(f"Number of elements in the range {lower_limit} to {upper_limit}: {result_count}")

Number of elements in the range 15 to 30: 4

5B. Write a Python program to split a list into different variables.

In [13]:
my_list = [1, 2, 3, 4, 5]

var1, var2, var3, var4, var5 = my_list

print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)
print("Variable 4:", var4)
print("Variable 5:", var5)

Variable 1: 1
Variable 2: 2
Variable 3: 3
Variable 4: 4
Variable 5: 5

6A. Merge the following dictionaries into one

In [17]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

merged_dict = dict1.copy()
merged_dict.update(dict2)

print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

6B. Delete the set of keys from the following python dictionary

In [18]:
sampleDict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}

keysToRemove = ["name", "salary"]

for key in keysToRemove:
    if key in sampleDict:
        del sampleDict[key]

print("Dictionary after removing keys:", sampleDict)

Dictionary after removing keys: {'age': 25, 'city': 'New York'}